<div class="table-responsive-md">
  <br>
  <table class="table table-dark table-hover">
    <tr>
      <th>Seleccionar</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Deuda de Alumno</th>
      <th>Fecha Creacion</th>
    </tr>
    </thead>
    <tbody id="tabla">
      {{#each debts}}
      <tr>
        <td class="table-info">
          <button class="" type="submit">editar</button>
        </td>
        <td class="table-info">{{nombreAlumno}}</td>
        <td class="table-info">{{apellidoAlumno}}</td>
        <td class="table-danger">{{deuda}}</td>
        <td class="table-info">{{fechaCreacion}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>