<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/animacion.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../../public/img/logo/evolutionNLM.jpg" width="70" height="50"
                    class="rounded-circle" alt="Cinque Terre">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse me-auto" id="navbarsExample07">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown"
                            aria-expanded="false">Pagos</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown07">
                            <li><a class="dropdown-item" href="#">Agregar pago</a></li>
                            <li><a class="dropdown-item" href="#">Editar pago</a></li>
                            <li><a class="dropdown-item" href="#">Eliminar pago</a></li>
                            <li><a class="dropdown-item" href="#">Ver pagos efectuados por un alumno</a></li>
                            <li><a class="dropdown-item" href="#">Buscar tikets de pago</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown ms-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown"
                            aria-expanded="false">Deudas</a>
                        <ul class="dropdown-menu " aria-labelledby="dropdown07">
                            <li><a class="dropdown-item" href="#">Agregar deuda</a></li>
                            <li><a class="dropdown-item" href="#">Editar estado deuda</a></li>
                            <li><a class="dropdown-item" href="#">Eliminar Deuda</a></li>
                            <li><a class="dropdown-item" href="#">Ver deuda de alumno</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="bg_animate">
        <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>
    </header>
    <script src="../../public/js/bootstrap.bundle.min.js"></script>
</body>

</html>